<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Employee Data Form</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      const employeeForms = document.querySelectorAll('.employee-form');
  
      <% employees.forEach((employee, index) => { %>
        (function() {
          const currentForm = employeeForms[<%= index %>];
          const startDateInput = currentForm.querySelector('.start-date');
          const endDateInput = currentForm.querySelector('.end-date');
  
          startDateInput.value = getDefaultStartDate('<%= employee.startDate %>');
          endDateInput.value = getDefaultEndDate();
        })();
      <% }); %>
    });
  
    function getDefaultStartDate(startDate) {
      if (startDate) {
        return startDate;
      }
  
      const today = new Date();
      const defaultStartDate = new Date(today.getFullYear(), today.getMonth(), 1);
      return formatDate(defaultStartDate);
    }
  
    function getDefaultEndDate() {
      return formatDate(new Date());
    }
  
    function formatDate(date) {
      const year = date.getFullYear();
      const month = (date.getMonth() + 1).toString().padStart(2, '0');
      const day = date.getDate().toString().padStart(2, '0');
      return `${year}-${month}-${day}`;
    }
  </script>
  
  
</head>
<body>
  <% employees.forEach((employee) => { %>
    <form action="/getEmployeeData" method="post" class="employee-form">
      <label for="employeeId_<%= employee.id %>"><%= employee.name %></label>
      <input type="hidden" name="id" value="<%= employee.id %>" id="employeeId_<%= employee.id %>_hidden" />
      <button type="submit">Get Data</button>
      <br>
      <label for="startDate_<%= employee.id %>">Start :</label>
      <input type="date" id="startDate_<%= employee.id %>" name="startDate" class="start-date" required>
      <br>
      <label for="endDate_<%= employee.id %>">End :</label>
      <input type="date" id="endDate_<%= employee.id %>" name="endDate" class="end-date" required>
      <br>
    </form>
    <hr>
  <% }); %>
</body>
</html>
